* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main__section .parrafo {
  text-align: center;
  font-family: cursive;
  font-size: 25px; }

.header {
  background: linear-gradient(to right, black, green, black);
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header__logo {
    margin-left: 1rem; }
  .header__ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: 5px;
    padding: 5px; }
    .header__ul li {
      margin: 15px; }
      .header__ul li:hover {
        font-weight: bolder; }
      .header__ul li a {
        color: white;
        text-decoration: none; }

.main {
  background-color: gray;
  min-height: 80vh; }
  .main__section h2 {
    color: green;
    animation-name: Bienvenidos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s; }

@keyframes Bienvenidos {
  0% {
    color: green;
    font-size: small; }
  30% {
    color: greenyellow;
    font-size: medium; }
  60% {
    color: green;
    font-size: larger; }
  100% {
    color: greenyellow;
    font-size: medium; } }
  .main__section p {
    color: #087726; }
  .main__section .parrafo2 {
    background-color: #174217;
    color: #24ce24;
    padding: 3rem; }
  .main .w-100 {
    width: 50% !important;
    margin: 10px 270px; }
  .main .carousel-inner {
    background-color: #e6f4da; }

.footer {
  display: flex;
  background: linear-gradient(to right, black, green, black);
  justify-content: space-evenly;
  min-height: 20vh; }
  .footer__ul {
    color: yellowgreen; }
    .footer__ul img:hover {
      transform: scale(1.1) translate(5px, 5px);
      transition: 1.5s; }
