header {
    // estilos header
    background: linear-gradient(to right, black, green, black);
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    nav {
        // estilos al nav

        ul {
            // estilos a la ul
            margin: 5px;
            padding: 5px;
            list-style: none;
            display: flex;
            align-items: flex-end;

        }

        li {
            color: green;
            margin: 15px;

            &:hover {
                color: greenyellow;
                font-weight: bolder;
            }
        }
    }
}