header {
    // estilos header
    background-color: black;
    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    nav {
        // estilos al nav

        ul {
            // estilos a la ul
            color: tomato;
            margin: 5px;
            padding: 5px;
            list-style: none;
            display: flex;
            align-items: flex-end;
        }
        li{
            margin: 15px;
        }
    }
}