main {
    // estilos al main
    background-color: gray;
    min-height: 80vh;

    section {
        // estilos a section

        h2 {
            // estilos del h2
            color: green;
            animation-name: Bienvenidos;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-delay: 3s;

            @keyframes Bienvenidos {
                0% {
                    color: green;
                    font-size: small;
                }

                30% {
                    color: greenyellow;
                    font-size: medium;
                }

                60% {
                    color: green;
                    font-size: larger;
                }

                100% {
                    color: greenyellow;
                    font-size: medium;
                }
            }
        }

        p {
            // estilos del parrafo
            color: rgb(8, 119, 38);

        }

    }

}