main {
    // estilos al main
    background-color: gray;
    color: wheat;
min-height: 80vh;
    section {
        // estilos a section
        color: teal;

        h2 {
            // estilos del h2
            color: beige;

        }

        p {
            // estilos del parrafo
            color: brown;

        }

        img {
            // estilos de la imagen
            color: burlywood;

        }

        button {
            // estilos del boton
            color: magenta;
            &:hover {
color: lightblue;
            }
        }
        input{
            color: aqua;
            &:focus{
color: goldenrod;
            }
            &:hover{
color: darkblue;
            }
        }
    }
}
